body {
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  max-width: 800px;
  margin: auto;
}

canvas {
  border: 1px solid #000;
  touch-action: pan-x;
  cursor: grab;
  margin-top: 10px;
}

